.*.sw?
*.a
*.o
*.obj
*.os
*.pc
*.pdb
*.pyc
*.pyo
*.la
*.lo
*.so
*~
.deps
.libs
depend
depend.bak
cmake_install.cmake
CMakeCache.txt
CMakeFiles
compile
configure
autom4te.cache
aclocal.m4
build
config.guess
config.log
config.status
config.sub
configure.lineno
cscope*
depcomp
install-sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
Makefile
Makefile.in
