.*.sw?
*.a
*.bz2
*.dmg
*.la
*.lo
*.o
*.obj
*.os
*.pc
*.pdb
*.pyc
*.pyo
*.so
*.zip
*~
.deps
.libs
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
Makefile.in
_CPack_Packages/
aclocal.m4
autom4te.cache
build
cmake_install.cmake
compile
config.guess
config.log
config.status
config.sub
configure
configure.lineno
core
cscope*
depcomp
depend
depend.bak
install-sh
install_manifest.txt
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
