*.a
*.o
*.obj
*.os
*.pc
*.pdb
*.pyc
*.pyo
*.la
*.lo
*.so
*~
.deps
.libs
depend
depend.bak
compile
configure
autom4te.cache
aclocal.m4
config.guess
config.log
config.status
config.sub
configure.lineno
cscope*
config.py
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
